/* font */
@font-face {
	font-family: "TINY";
	src: url("TINY5x3GX.ttf");
}

* {
	margin:  5px;
	padding:  5px;
	box-sizing: border-box;
}


/* 전체 화면 */
div {
	border: 1px solid blue;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Palatino, Big Caslon, Baskerville, serif ;
	color: purple;
	transition: background 500ms ease;
	background-color: honeydew;
}

body.dark {
  background-color: #32353b;
  color: palegreen;
}


/* grid */
div.grid {
	height: 100%;
	widows: auto;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

div#left-column {
	display: flex;
	flex-direction: column-reverse;
}

/*left column*/
.left-bottom {
	margin-bottom: 15px;
	font-family: monospace;
	color: #cccccc;
	text-align: left;
}

/*main column*/
h1 {
	font-family: 'TINY';
	font-size: 5em;
	font-color: inherit;
	font-variation-settings: "wght" 40;
	transition: font-variation-settings 0.3s ease;
	margin: 60px 5px 30px 5px;
	text-align: center;
}

h1:hover {
	text-shadow: 0px 0px 5px blue;
	font-variation-settings: "wght" 200;
}

.paragraph {
	text-align: center;

#desc {
	font-family: monospace;
	font-size: 0.9em;
	color: #cccccc;
	text-align: right;
}

/*right column*/
div#right-column {
	display: flex;
	text-align: right;
}