/* font */
@font-face {
	font-family: "TINY";
	src: url("TINY5x3GX.ttf");
}

* {
	margin:  10px;
	padding:  10px;
	box-sizing: border-box;
}


/* 전체 화면 */
div {
	border: 1px solid blue;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	color: purple;
	transition: background 500ms ease;
	background-color: honeydew;
}

body.dark {
  background-color: #32353b;
  color: palegreen;
}


/* grid */
div.grid {
	height: 100%;
	widows: auto;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

div#left-column {
	display: flex;
	flex-direction: column-reverse;
}

#left-bottom {
	color: #cccccc;
	
	text-align: left;
	width: ;
}